*
{
	box-sizing:border-box;
}
/*style body*/
body
{
	font-family: Arial;
	margin: 0;
}

.header
{
	padding: 60px;
	text-align: center;
	background: lightskyblue;
	color: white;
}

.navbar
{
	display: flex;
	background-color: black;
}
.navbar a
{color: white;
	padding: 14px 20px;
	text-align: center;

}
.navbar a:hover
{
	background-color: lightgrey;
	color: black;
}

/*column container*/
.row
{
	display: flex;
	flex-wrap: wrap;

}
/* side bar or left column*/
.side
{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}
.main {
	flex: 70%;
	background-color: white;
	padding: 20px;
}
.divex
{
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/*footer*/
.footer
{
	padding: 20px;
	text-align: center;
	background-color: #ddd;
}

/*responsive layout acc to screen width*/

@media screen and (max-width: 700px)
{
	.row,.navbar
	{
		flex-direction: column;
	}
}

